{% extends 'shop/basic.html' %}

{% block title %}Checkout - MyAmazon {% endblock %}

{% block body %}

<div class="container">

    <h3 class="my-2">Step 1 - My Amazon Express Checkout - Review Your Cart Items</h3>
    <div class="col my-4">
        <ol class="list-group list-group-numbered" id="items">

        </ol>
        <div class="container rounded p-3 my-2" style="background-color: #d9d3d3">
            Your Cart total is <b>Rs. <span id="totalPrice"></span></b>. Enter Your details below and place your order.
            Thanks for using MyAmazon
        </div>


    </div>



    <div class="col my-4">
        <h3 class="my-2">Step 1 - Enter Address and other Details </h3>
        <form action="/shop/checkout/" method="post" class="row g-3"> {% csrf_token %}
            <input type="hidden" name="itemsJson" id="itemsJson">
            <input type="hidden" name="amount" id="amount">
            <div class="col-md-6">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
            </div>
            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            </div>

            <div class="col-12">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address1" name="address1" placeholder="1234 Main St">
            </div>
            <div class="col-12">
                <label for="inputAddress2" class="form-label">Address line 2</label>
                <input type="text" class="form-control" id="address2" name="address2"
                    placeholder="Apartment, studio, or floor">
            </div>
            <div class="col-md-6">
                <label for="inputCity" class="form-label">City</label>
                <input type="text" class="form-control" id="city" name="city" placeholder="City">
            </div>
            <div class="col-md-4">
                <label for="state" class="form-label">State</label>
                <input type="text" class="form-control" id="state" name="state" placeholder="State">
            </div>

            <div class="col-md-2">
                <label for="zip" class="form-label">Zip</label>
                <input type="text" class="form-control" id="zip_code" name="zip_code">
            </div>
            <div class="col-md-12">
                <label for="phone" class="form-label">Phone Number</label>
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone">
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Place Order</button>
            </div>
        </form>

    </div>

</div>


{% block js %}
<script>
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    }
    else {
        cart = JSON.parse(localStorage.getItem('cart'));
    }
    var sum = 0;
    var totalPrice = 0;
    if (Object.keys(cart).length === 0) {
        document.getElementById('items').innerHTML = "Your cart is empty, please add some items to your cart before checking out!";
    }
    else {
        // console.log(cart);
        mystr = "";
        for (item in cart) {
            let qty = cart[item][0];
            let name = cart[item][1];
            let itemPrice = cart[item][2];
            sum = sum + qty;
            totalPrice = totalPrice + qty * itemPrice;
            mystr += `<li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    ${name}
                    </div>
                <span class="badge bg-primary rounded-pill">Rs. ${itemPrice}</span>&nbsp; &nbsp;
                <span class="badge bg-primary rounded-pill">Qty: ${qty}</span>&nbsp; &nbsp;
                <span class="badge bg-primary rounded-pill">Total Rs. ${itemPrice*qty}</span>
            </li>`;
        }
        document.getElementById('items').innerHTML = mystr;
        document.getElementById('totalPrice').innerHTML = totalPrice;
    }

    document.getElementById('cart').innerHTML = sum;

    document.getElementById('itemsJson').value = JSON.stringify(cart);
    {% if thank %}
    alert('Thanks for ordering with us. your order ID is {{id}}. Use it to track your order using our order tracker');
    localStorage.clear();
    document.location = "/shop";
    {% endif %}

    document.getElementById('amount').value = document.getElementById('totalPrice').innerHTML

</script>
{% endblock %}

{% endblock %}